@import 'mixin.scss';
@import 'variable.scss';

body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

nav {
    background-color: $nav-color;
    height: 50px;
    @include font(white, 20px,bold, monospace);
    span {
        display: inline-block;
        padding: 13px;
    }
    box-shadow: $heavy-shadow;
}

.key-in{   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
    margin: 20px auto;
    @include whole-shadow();
    &-block {
        display: inline-block;
        height: auto;
        width: 300px;
        input {
            background-color: $event-title-color;
            padding: $based-padding;
            @include font(white, 20px,bold, monospace);
            outline: none;
        }
        textarea {
            height: 200px;
            background-color: $event-context-color;
            padding: $based-padding;
            word-break: break-all;
            @include font(white, 20px,bold, monospace);
            resize : none;
            outline: none;
        }
    }
    &-levels {
        display: inline-block;
        div {
            margin:8px;
            label {
                @include font(white, 20px,bold, monospace);
            }
        }       
    }
    .key-in-btn {
        margin: 20px;
        padding: 5px 20px;
        background-color: $key-in-btn-color;
        @include font(white, 20px,bold, monospace);
        outline: none;
    }
}

.container {
    background-color: $main-color;
    height: auto;
    width: 1000px;
    margin: 20px auto;
    .todo {
        width: 900px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow:column  wrap;
        max-height: 600px;
        margin: 40px auto;
        @include whole-shadow();
        &-event {
            height: auto;
            width: 200px;
            margin: 8px;
            @include font(white, 20px,bold, monospace);
            &-title {
                background-color: $event-title-color;
                padding: $based-padding;
                word-break: break-all;
            }
            &-context {
                background-color: $event-context-color;
                padding: $based-padding;
                word-break: break-all;
            }
        }
    }
    .done {
        width: 900px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow:column  wrap;
        max-height: 1200px;
        margin: 40px auto;
        @include whole-shadow();
        &-event {
            height: auto;
            width: 200px;
            margin: 8px;
            @include font(white, 20px,bold, monospace);
            &-title {
                background-color: $done-title-color;
                padding: $based-padding;
                word-break: break-all;
            }
            &-context {
                background-color: $done-context-color;
                padding: $based-padding;
                word-break: break-all;
            }
        }
    }
}





